<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Person</title>-->
<!--</head>-->
<!--<body>-->

<!--<p>Person Data</p>-->

<!--<hr>-->

<!--<p th:text="'AGE: ' + ${mdGetPerson.getAge()}">...</p>-->
<!--<p th:text="'NAME: ' + ${mdGetPerson.getName()}">...</p>-->
<!--<p th:text="'EMAIL: ' + ${mdGetPerson.getEmail()}">...</p>-->

<!--<hr>-->

<!--<a th:href="@{/{id}/update(id = ${mdGetPerson.getId()})}">Update</a>-->

<!--<br>-->

<!--<form th:method="DELETE" th:action="@{/{id}/delete(id = ${mdGetPerson.getId()})}" th:object="${mdGetPerson}">-->

<!--    <br>-->

<!--    <input type="submit" value="-> DELETE!!! <-">-->
<!--</form>-->

<!--<hr>-->

<!--<a href="http://localhost:8080/">Back</a>-->

<!--</body>-->
<!--</html>-->